@mixin breakpoint($point) {
	@if $point==sm {
		@media (min-width: 576px) {
			@content;
		}
	} @else if $point==max-sm {
		@media (max-width: 575px) {
			@content;
		}
	} @else if $point==md {
		@media (min-width: 768px) {
			@content;
		}
	} @else if $point==max-md {
		@media (max-width: 767px) {
			@content;
		}
	} @else if $point==lg {
		@media (min-width: 992px) {
			@content;
		}
	} @else if $point==max-lg {
		@media (max-width: 991px) {
			@content;
		}
	} @else if $point==xl {
		@media (min-width: 1200px) {
			@content;
		}
	} @else if $point==max-xl {
		@media (max-width: 1199px) {
			@content;
		}
	} @else if $point==xxl {
		@media (min-width: 1400px) {
			@content;
		}
	} @else if $point==max-xxl {
		@media (max-width: 1399px) {
			@content;
		}
	}
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

:root {
	--base: #6390f5;
	--success: #5fda40;
	--redish: #f563a9;
	--white: #ffffff;
	--title: #0e1227;
	--body: #ffffff;
	--section: #f9fafe;
	--text: #8c8d98;
	--border: #eff2f1;
}
#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	footer {
		margin-top: auto;
	}
}
body {
	background: var(--body);
	padding: 0;
	margin: 0;
	color: var(--text);
	font-size: 14px;
	line-height: 28px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	@include breakpoint(sm) {
		font-size: 16px;
	}
}
.bg-section {
	background: var(--section);
}
.bg-body {
	background: var(--body);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul {
	padding: 0;
	margin: 0;
	li {
		list-style: none;
	}
}
a {
	text-decoration: none;
	transition: all ease 0.3s;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--title);
	font-weight: 700;
}
.auth-header {
	padding: 20px 0;
	border-bottom: 1px solid var(--border);
	@include breakpoint(xl) {
		padding-top: 40px;
		.container {
			padding-left: 100px;
			padding-right: 100px;
		}
	}
	.link {
		margin-left: 10px;
		color: var(--base);
	}
	@include breakpoint(max-sm) {
		font-size: 13px;
	}
}
.auth-content {
	max-width: 450px;
	margin: 0 auto;
	.title {
		font-weight: 500;
		font-size: 40px;
		line-height: 54px;
		color: #8c8d98;
		margin-bottom: 10px;
	}
	.subtext {
		font-weight: 500;
		font-size: 20px;
		line-height: 27px;
		color: var(--title);
		margin-bottom: 30px;
	}
}
.login-with-google {
	width: 100%;
	background: transparent;
	box-shadow: none;
	outline: none;
	border: 1px solid var(--border);
	border-radius: 15px;
	height: 50px;
	font-weight: 500;
	font-size: 14px;
	line-height: 19px;
	color: var(--title);
}
.or {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px 0;
	span {
		font-weight: 600;
		font-size: 14px;
		line-height: 19px;
		margin: 0 15px;
	}
	&::after,
	&::before {
		content: "";
		flex-grow: 1;
		height: 1px;
		background: var(--border);
	}
}
.form-group {
	margin-bottom: 20px;
	.form-label {
		text-transform: capitalize;
		margin-bottom: 10px;
		font-size: 12px;
		line-height: 16px;
	}
	.form-control {
		background: var(--section);
		border: 1px solid transparent;
		height: 40px;
		border-radius: 15px;
		box-shadow: none;
		outline: none;
		&:focus {
			border-color: var(--base);
		}
	}
}
.__form-control {
	background: var(--section);
	border: 1px solid transparent;
	height: 41px;
	border-radius: 15px;
	box-shadow: none !important;
	outline: none;
	&:focus {
		border-color: var(--base);
	}
}
.mr-20 {
	margin-right: 20px;
}
.input--group {
	.form-control {
		padding-left: 40px;
	}
	.icon {
		position: absolute;
		left: 15px;
		top: 5px;
		z-index: 1;
	}
	.right-icon {
		position: absolute;
		right: 2px;
		top: 2px;
		z-index: 1;
		height: 37px;
		padding: 0;
		margin: 0;
		outline: none;
		border: none;
		border-radius: 12px;
	}
}
.form-check {
	.form-check-label {
		font-size: 14px;
		line-height: 19px;
		color: #0e1227;
	}
	.form-check-input {
		margin-top: 7px;
	}
}
.form-check {
	position: relative;
}
.check-icon {
	display: flex;
	position: absolute;
	left: 0;
	top: 8px;
}
.btn-base {
	border: 1px solid var(--base);
	background: var(--base);
	color: var(--white);
}
.btn-base {
	&[type="submit"] {
		height: 41px;
		width: 100%;
		border-radius: 15px;
	}
}
.__my-30 {
	margin: 30px 0;
}
.text-base {
	color: var(--base);
}
.text-redish {
	color: var(--redish);
}
.__mt-20 {
	margin-top: 20px;
}
.__mb-30 {
	margin-bottom: 30px;
}
.accept-txt {
	color: var(--title);
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
}
.main {
	display: flex;
	align-items: flex-start;
	.sidebar {
		width: 100%;
		max-width: 240px;
		background: var(--title);
		min-height: 100vh;
		position: fixed;
		top: 0;
		display: flex;
		flex-direction: column;
		z-index: 999;
		> * {
			width: 100%;
		}
		.sidebar-logo {
			margin: 0 auto;
			text-align: center;
			border-bottom: 1px solid rgba(#ffffff, 0.1);
			position: relative;
			a {
				display: inline-block;
			}
			img {
				width: 100%;
				object-fit: contain;
				height: 24px;
			}
			padding: 13px 15px 15px;
		}
		transition: all ease 0.4s;
		&:not(.active) {
			transform: translateX(-100%);
		}

		@include breakpoint(lg) {
			position: sticky;
			transform: translateX(0) !important;
		}
		@include breakpoint(max-lg) {
			overflow-y: auto;
			max-height: 100vh;
		}
	}
	.article {
		width: 0;
		flex-grow: 1;
	}
}
.lead-layout-content,
.layout-content {
	padding: 25px 20px;
	@include breakpoint(xl) {
		padding: 30px;
	}
}
.sidebar-author {
	padding-top: 19px;
	.img {
		width: 71px;
		aspect-ratio: 1;
		border: 4px solid rgba(#ffffff, 0.32);
		border-radius: 50%;
		margin: 0 auto 19px;
		img {
			width: 100%;
			aspect-ratio: 1;
			border-radius: 50%;
			object-fit: cover;
		}
	}
	.name {
		font-weight: 600;
		font-size: 16px;
		line-height: 22px;
		color: var(--white);
		text-align: center;
	}
	.username {
		font-size: 12px;
		line-height: 16px;
		text-align: center;
		color: var(--white);
		margin-top: 10px;
	}
}
.sidebar-menu {
	margin-top: 56px;
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
	gap: 26px;
	li {
		a {
			font-weight: 500;
			font-size: 20px;
			line-height: 27px;
			display: flex;
			align-items: center;
			color: rgba(#ffffff, 0.9);
			padding-left: 18px;
			border-left: 2px solid transparent;
			span {
				width: 0;
				flex-grow: 1;
				padding-left: 15px;
			}
			svg {
				opacity: 0.9;
			}
			&.active {
				svg {
					opacity: 1;
				}
				*[fill="white"] {
					fill: var(--success);
				}
				color: var(--redish);
				border-color: var(--redish);
			}
		}
	}
	@include breakpoint(max-sm) {
		margin-top: 26px;
		margin-bottom: 26px;
		gap: 15px;
		li {
			a {
				font-size: 16px;
			}
		}
	}
}
.sidebar-bottom-btns {
	display: flex;
	margin-top: auto;
	.bottom-btn {
		width: 50%;
		background: transparent;
		height: 60px;
		border: none;
		display: flex;
		align-items: center;
		justify-content: center;
		&:first-child {
			border-right: 1px solid rgba(#ffffff, 0.1);
		}
		border-top: 1px solid rgba(#ffffff, 0.1);
	}
}
.article-header {
	background: var(--body);
	.title {
		font-size: 20px;
		line-height: 27px;
		letter-spacing: 0.02em;
	}
}
.article-header {
	min-height: 57px;
	border-bottom: 1px solid var(--border);
	position: sticky;
	top: 0;
	z-index: 99;
}
.container-fluid {
	@include breakpoint(xl) {
		padding-left: 30px;
		padding-right: 30px;
	}
}
.close-icon {
	position: absolute;
	right: 10px;
	top: 10px;
}
.overlay {
	position: fixed;
	inset: 0;
	z-index: 99;
	background: var(--title);
	transform: all ease 0.4s;
	opacity: 0;
	visibility: hidden;
	&.active {
		visibility: visible;
		opacity: 0.8;
	}
}
.layout-header {
	position: relative;
}
.__dropdown {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 5px;
	font-size: 13px;
	color: var(--text);
	img {
		width: 30px;
		aspect-ratio: 1;
		object-fit: cover;
		border-radius: 50%;
	}
	h6 {
		margin: 0;
		font-size: 14px;
	}
}
.__dropdown-menu {
	position: absolute;
	top: calc(100% + 13px);
	right: 0;
	min-width: 220px;
	background: var(--body);
	border: 1px solid var(--border);
	transition: all ease 0.4s;
	padding: 15px 0;
	border-radius: 10px;
	font-size: 14px;
	box-shadow: 0 0 10px rgba(#0e1227, 0.12);
	svg {
		width: 16px;
		height: 16px;
		*[fill="white"] {
			fill: var(--base);
		}
	}
	li {
		&:not(:last-child) {
			border-bottom: 1px solid var(--border);
		}
		a {
			display: flex;
			color: var(--title);
			padding: 4px 15px;
			&:hover {
				background: rgba(#6390f5, 0.1);
			}
			span {
				width: 0;
				flex-grow: 1;
				padding-left: 10px;
			}
			align-items: center;
		}
	}
}

.__dropdown:not(:focus) ~ .__dropdown-menu {
	opacity: 0;
	visibility: hidden;
}
body {
	*::-webkit-scrollbar-track {
		box-shadow: inset 0 0 3px #b6b6b6;
		width: 3px;
		height: 5px;
	}

	*::-webkit-scrollbar {
		width: 3px;
		height: 5px;
	}

	*::-webkit-scrollbar-thumb {
		background-color: var(--text);
		width: 3px;
		height: 5px;
	}
}
.inbox-article {
	display: flex;
	flex-wrap: wrap;
	.inbox-sidebar {
		width: 36%;
		max-width: 429px;
		border-right: 1px solid var(--border);
		padding-left: 30px;
		// padding-top: 30px;
		max-height: calc(100vh - 60px);
		overflow-y: auto;

		.search-bar {
			position: sticky;
			top: 0;
			padding-top: 30px;

			background: var(--body);
			z-index: 1;
			.read-nav {
				padding-bottom: 20px;
			}
			margin-right: 20px;
		}
		@include breakpoint(max-lg) {
			padding-left: 20px;
			.search-bar {
				margin-right: 0;

				.read-nav {
					padding-top: 30px;
				}
			}
		}
		@include breakpoint(max-md) {
			padding: 20px;
			padding-top: 0;
			width: 100%;
			max-width: 100%;
			max-height: 450px;
			.search-bar .read-nav {
				padding-top: 20px;
			}
		}
	}
	.inbox-chatting {
		width: 0;
		flex-grow: 1;
		padding: 30px;
		padding-top: 0;
		padding-right: 0;
		display: flex;
		flex-direction: column;
		.messages-top {
			position: sticky;
			top: 0;
			padding-top: 30px;
			padding-bottom: 20px;
			background: var(--body);
			z-index: 1;
		}
		.chatting-form {
			padding: 10px;
			margin-right: 30px;
			border-radius: 10px 10px 0px 0px;
		}
		@include breakpoint(max-lg) {
			padding: 20px;
			padding-right: 0;
			padding-top: 0;
			.messages-top {
				padding-top: 20px;
			}
			.chatting-form {
				margin-right: 20px;
			}
		}
		@include breakpoint(max-md) {
			width: 100%;
		}
	}
}
.chatting-form {
	background: var(--section);
}
.inbox-users {
	li {
		display: flex;
		align-items: center;
		cursor: pointer;
		img {
			width: 40px;
			aspect-ratio: 1;
			object-fit: cover;
			border-radius: 50%;
		}
		.content {
			width: 0;
			flex-grow: 1;
			padding-left: 15px;
			.name {
				font-size: 16px;
				font-weight: 500;
				margin-bottom: 10px;
			}
			.date {
				font-weight: 400;
				font-size: 12px;
				line-height: 16px;
				display: block;
				transform: translateY(-10px);
				color: var(--title);
			}
			.text {
				font-weight: 400;
				font-size: 12px;
				line-height: 18px;
				max-width: 320px;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		padding: 20px 20px 20px 0;
		&.active {
			padding: 20px 20px 20px 10px;
			background: var(--section);
		}
		&:not(:last-child) {
			border-bottom: 1px solid var(--border);
		}
		@include breakpoint(max-md) {
			padding-top: 15px;
			padding-bottom: 15px;
			padding-right: 15px;
			img {
				width: 35px;
			}
			.content {
				.name {
					font-size: 14px;
					margin-bottom: 5px;
				}
			}
		}
	}
}
.open-user {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	gap: 15px;
	padding-right: 30px;
	@include breakpoint(max-lg) {
		padding-right: 20px;
	}
	img {
		width: 40px;
		aspect-ratio: 1;
		object-fit: cover;
		border-radius: 50%;
	}
	.name {
		font-weight: 500;
		font-size: 16px;
		line-height: 22px;
		color: var(--title);
		width: 0;
		flex-grow: 1;
		margin: 0;
	}
}
.read-nav {
	display: flex;
	text-align: center;
	padding-top: 20px;
	li {
		width: 50%;
		border-bottom: 2px solid var(--border);
		font-weight: 500;
		font-size: 16px;
		line-height: 22px;
		cursor: pointer;
		padding-bottom: 10px;
		&.active {
			color: var(--base);
			border-color: var(--base);
		}
	}
}
.msg-area {
	padding-right: 30px;
	padding-bottom: 20px;
	margin-bottom: auto;
	@include breakpoint(max-lg) {
		padding-right: 20px;
	}
	li {
		width: 90%;
		max-width: 410px;
		margin-bottom: 10px;
		.msg {
			font-size: 12px;
			line-height: 18px;
			padding: 10px;
			background: #ffffff;
			box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.07);
			border-radius: 20px;
		}
		.date {
			font-size: 12px;
			margin-top: 5px;
		}
		&.outgoing-msg {
			.msg {
				background: var(--title);
				box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.07);
				border-radius: 20px;
				color: var(--white);
			}
			.date {
				text-align: right;
			}
		}
	}
	overflow-y: auto;
	max-height: calc(100vh - 61px - 90px - 60px - 30px);
	@include breakpoint(max-lg) {
		max-height: calc(100vh - 61px - 90px - 60px - 20px);
	}
}
.__chatting-form-group {
	position: relative;
	.form-control {
		background: var(--body);
		border: 1px solid transparent;
		height: 41px;
		border-radius: 10px;
		box-shadow: none !important;
		outline: none;
		&:focus {
			border-color: var(--base);
		}
	}
	label {
		margin: 0;
	}
	button {
		outline: none;
		box-shadow: none;
		border: none;
	}
	.btn-grp {
		position: absolute;
		right: 0;
		top: 0;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		background: var(--body);
		.btn {
			border-radius: 0 !important;
		}
		.btn:not(:last-child) {
			border-right: 1px solid var(--border);
		}
	}
}
.border-bottom {
	border-color: var(--border);
}
.setting-nav-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 44px;
	margin-bottom: -1px;
	li {
		a {
			display: inline-block;
			padding: 0 0 10px;
			border-bottom: 2px solid transparent;
			font-weight: 600;
			font-size: 16px;
			line-height: 22px;
			color: var(--text);
			&.active {
				font-weight: 600;
				border-color: var(--base);
				color: var(--base);
			}
		}
	}
}
.mb-20 {
	margin-bottom: 20px !important;
}
.filter-btn {
	padding: 5px;
	display: inline-flex;
	padding: 5px;
	border-radius: 25px;
	background: var(--section);
	margin-bottom: 20px;
	li {
		height: 40px;
		padding: 9px 20px;
		border-radius: 20px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		&.active {
			color: var(--base);
			background: var(--white);
		}
	}
}
.mb-10 {
	margin-bottom: 10px;
}
.plan-item {
	width: calc(50% - 10px);
	max-width: 351px;
	background: #ffffff;
	box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	text-align: left;
	.plan-inner {
		padding: 20px;
		padding-bottom: 0;
	}
	.title {
		font-weight: 600;
		font-size: 25px;
		line-height: 34px;
		color: var(--base);
		margin: 0;
	}
	.price {
		font-weight: 600;
		font-size: 25px;
		line-height: 34px;
		margin: 0;
		sub {
			bottom: 0;
			margin-bottom: 0;
			font-weight: 400;
			font-size: 12px;
			line-height: 16px;
			color: var(--text);
		}
	}
	.subtxt {
		font-weight: 400;
		font-size: 12px;
		line-height: 16px;
		margin-bottom: 20px;
	}
	.details-info {
		font-weight: 400;
		font-size: 14px;
		line-height: 19px;
		display: flex;
		flex-direction: column;
		gap: 15px;
		margin-bottom: 20px;
		li {
			display: flex;
			svg {
				transform: translateY(5px);
			}
			span {
				width: 0;
				flex-grow: 1;
				padding-left: 10px;
			}
		}
	}
	.btn {
		height: 45px;
		border-radius: 19px;
		width: 100%;
		transition: all ease 0.3s;
	}
	transition: all ease 0.3s;
	&:nth-of-type(3n + 2),
	&:hover {
		background: var(--title);
		color: var(--white);
		.text-redish {
			sub {
				color: var(--white);
			}
		}
		.btn-outline-primary {
			background: var(--base);
			border-color: var(--base);
			color: var(--white);
		}
	}
	@include breakpoint(max-sm) {
		width: 100%;
	}
}
.btn-outline-primary {
	border-color: var(--base);
	color: var(--base);
	&:hover {
		background: var(--base);
		border-color: var(--base);
		color: var(--white);
	}
}
.plans-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}
.billing-payment-card {
	border-radius: 20px;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 15px;
	h6 {
		margin-bottom: 10px;
	}
	ul {
		display: flex;
		flex-direction: column;
		gap: 10px;
		li {
			font-size: 12px;
			line-height: 16px;
			color: var(--title);
		}
	}
	.btn {
		height: 45px;
		border-radius: 10px;
		font-weight: 600;
		font-size: 16px;
		line-height: 22px;
		padding: 0 20px;
		@include breakpoint(max-lg) {
			font-weight: 500;
			font-size: 14px;
			height: 40px;
		}
	}
}
.__billing-table {
	background: var(--section);
	padding: 20px;

	border-radius: 20px;
	.table {
		margin: 0;
		vertical-align: middle;
		thead {
			th {
				font-weight: 700;
				font-size: 12px;
				line-height: 16px;
				text-transform: uppercase;
				color: var(--text);
			}
		}
		.table-date {
			h6 {
				font-weight: 500;
				font-size: 14px;
				line-height: 19px;
				margin-bottom: 10px;
			}
			font-size: 12px;
			line-height: 16px;
			color: var(--text);
		}
		td {
			padding: 15px 0;
		}
		tbody {
			tr:last-child {
				td {
					border-bottom: none;
				}
			}
		}
	}
}
.setting-profile-card {
	background: var(--section);
	.form-control {
		background: var(--body);
	}
	padding: 20px;
	border-radius: 20px;
	.setting-profile-card-top {
		gap: 15px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 29px;
		h5 {
			font-weight: 600;
			font-size: 16px;
			line-height: 22px;
		}
		.btn {
			border: 1px solid #6390f5;
			border-radius: 15px;
			padding: 7px 20px;
			font-weight: 500;
		}
		.btn-outline-primary {
			border-color: var(--border);
		}
	}
}
.lead-layout-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	min-height: calc(100vh - 100px);
}
.cmn-btn {
	background: var(--base);
	color: var(--white);
	border: 1px solid var(--base);
	border-radius: 15px;
	padding: 6px 30px;
	&.btn-outline,
	&:hover {
		color: var(--base);
		background: transparent;
	}
	&.btn-outline {
		border-color: var(--border);
	}
	&.btn-outline:hover {
		border-color: var(--base);
		background: var(--base);
		color: var(--white);
	}
}
.header-search-filter-wrapper {
	gap: 5px;
	@include breakpoint(lg) {
		gap: 30px;
		.__form-control {
			width: 264px;
		}
		.cmn-btn {
			font-weight: 500;
			font-size: 20px;
			line-height: 27px;
		}
	}
	@include breakpoint(max-md) {
		.cmn-btn {
			padding: 5px 15px;
			font-size: 14px;
		}
		.close {
			position: absolute;
			right: -10px;
			top: -16px;
			width: 25px;
			height: 25px;
			display: flex;
			align-items: center;
			justify-content: center;
			background: var(--body);
			box-shadow: 0 0 5px rgba(#0e1227, 0.12);
			border-radius: 50%;
			svg {
				width: 12px;
			}
		}
	}
}
@include breakpoint(max-md) {
	.header-search-filter {
		position: absolute;
		right: 18px;
		top: calc(100% + 25px);
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
		background: var(--body);
		transition: all ease 0.3s;
		.__form-control {
			border-color: var(--base);
		}
		&:not(.active) {
			opacity: 0;
			visibility: hidden;
			transform: translateY(10px);
		}
	}
}
.empty-list {
	img {
		max-width: 100%;
	}
	.txt {
		margin-bottom: 25px;
	}
}
.lead-card {
	background: #ffffff;
	box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	width: 100%;
	max-width: 572px;
	padding: 30px;
	@include breakpoint(max-sm) {
		padding: 20px;
	}
}
.go--back {
	font-size: 14px;
	font-weight: 500;
	color: var(--text);
	margin-bottom: 30px;
	@include breakpoint(max-sm) {
		margin-bottom: 20px;
	}
}
.common-card-top {
	text-align: center;
	margin-bottom: 30px;
	.title {
		font-weight: 600;
		font-size: 20px;
		line-height: 27px;
		text-align: center;
		margin-bottom: 15px;
	}

	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	@include breakpoint(max-sm) {
		margin-bottom: 20px;
	}
}
.common-card-bottom {
	margin-top: 30px;
	align-items: center;
	.btn-outline {
		color: var(--title);
	}
	.cmn-btn,
	.btn-outline {
		@include breakpoint(sm) {
			font-weight: 500;
			font-size: 20px;
			line-height: 27px;
		}
	}
	@include breakpoint(max-sm) {
		margin-top: 20px;
		.cmn-btn {
			padding: 5px 20px;
		}
	}
}
.select-source {
	display: flex;
	flex-direction: column;
	gap: 10px;
	li {
		background: var(--section);
		border-radius: 15px;
		padding: 9px 15px;
		text-align: center;
		font-weight: 500;
		font-size: 16px;
		line-height: 22px;
		color: var(--title);
		cursor: pointer;
		border: 1px solid transparent;
		.icon {
			position: absolute;
			left: 15px;
			top: 10px;
			transform: translateX(-50%);
		}
		position: relative;
		&.active {
			color: var(--base);
			background: var(--body-bg);
			border-color: var(--border);
		}
		@include breakpoint(max-sm) {
			font-size: 14px;
		}
	}
}
.csv--label {
	padding: 30px;
	border-radius: 20px;
	background: var(--section);
	display: block;
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;
	text-align: center;
	cursor: pointer;
	@include breakpoint(max-sm) {
		font-size: 16px;
	}
}
.select-item {
	background: var(--section);
	border: 1px solid transparent;
	height: 40px;
	border-radius: 15px;
	box-shadow: none;
	outline: none;
	.form-control {
		background: transparent !important;
		position: relative;
		z-index: 1;
	}
	.right-icon {
		position: absolute;
		right: 12px;
		top: 4px;
	}
	position: relative;
}
.__lead-table {
	thead {
		tr {
			th {
				font-weight: 700;
				font-size: 12px;
				line-height: 16px;
				color: var(--text);
				text-transform: uppercase;
			}
		}
	}
	border-collapse: separate;
	border-spacing: 0 10px;
	tbody {
		tr {
			td {
				background: var(--section);
				vertical-align: middle;
				padding: 13px 15px;
				&:first-child {
					border-radius: 10px 0 0 10px;
				}
				&:last-child {
					border-radius: 0 10px 10px 0;
				}
			}
		}
	}
	.badge {
		font-weight: 500;
		font-size: 20px;
		line-height: 31px;
		padding: 0 15px;
		border-radius: 15px;
		@include breakpoint(max-xl) {
			font-size: 16px;
			line-height: 26px;
		}
	}
	.source {
		font-weight: 500;
		font-size: 16px;
		line-height: 22px;
	}
}
.bg-soft-success {
	color: #5fda40;
	background: rgba(#5fda40, 0.18);
}
.bg-soft-secondary {
	background: rgba(140, 141, 152, 0.2);
	border-radius: 51px;
	color: var(--text);
}
.bg-soft-danger {
	color: #f563a9;
	background: rgba(140, 141, 152, 0.2);
	border-radius: 51px;
}
.word-nowrap {
	white-space: nowrap;
}
